.template-type-item input,
.ribbons-item input,
.wrappings-item input,
.drawing-item input,
.color-item input,
.text-color-item input,
.text-template-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.template-type-active:before,
.ribbons-active:before,
.wrappings-active:before,
.drawing-active:before,
.checked:before,
.text-color-active:before ,
.text-template-active:before {
  height: 7px;
  width: 15px;
  border-bottom: rgb(255, 255, 255) solid 3px;
  border-left: rgb(255, 251, 251) solid 3px;
  content: "";
  display: block;
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -ms-transform: rotateZ(-40deg);
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 1;
}
.template-type-active:after,
.ribbons-active:after,
.wrappings-active:after,
.drawing-active:after,
.checked:after, 
.text-color-active:after,
.text-template-active:after {
  content: "";
  background-color: #4b436073;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}