/* start customize shape details */
/* dtails */
.details-content-info{
    margin: 0 !important; 
    max-width: initial!important;  
    width: auto!important; 
}
.shape-name{
    color:#BD9371;
}
.shape-description {
    color: #333333bf;
}
span.specifications-title {
    font-size: 18px;
    font-weight: bold;
    color: #BD9371;
    margin-bottom: .5rem;
    line-height: 1.2;
    padding: 0;
    border: none;
}
.specifications span.specifications-title{
    padding: 0 0 10px 0;
    border-bottom: 2px solid #BD9371;
}
table.specifications{
    margin-bottom: 1rem;
}
table.specifications tbody tr td.specifications-type{
    color: #BD9371;
}
table.specifications tbody tr td {
    width: 16%;
}
.start-customize a {
    transition: all .5s .1s ease-in-out;
    -webkit-transition: all .5s .1s ease-in-out;
    -moz-transition: all .5s .1s ease-in-out;
    -ms-transition: all .5s .1s ease-in-out;
    -o-transition: all .5s .1s ease-in-out;
    width: 251px;
    height: 53px;
    color: white;
    background-color: #4B4360;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.start-customize a i{
    padding-left: 15px;
}
.start-customize a:hover{
    transition: all .5s .1s ease-in-out;
    -webkit-transition: all .5s .1s ease-in-out;
    -moz-transition: all .5s .1s ease-in-out;
    -ms-transition: all .5s .1s ease-in-out;
    -o-transition: all .5s .1s ease-in-out;
    opacity: .8;
    text-decoration: none;
    color: white;
}
/* gallary  */
.customize-gallary .owl-nav [class*=owl-]{
    position: absolute!important;
    justify-content: center!important;
    top: 0!important;
    bottom: 0!important;
    width: 3rem!important;
    font-size: 6rem!important;
    color: #b39c7d!important;
    outline:none!important;
}
.customize-gallary .owl-item img{
    width: 86%!important;
    margin: auto!important;
}
.customize-gallary .owl-ite{
    
    width: 11%!important;

}
.customize-gallary .owl-nav [class*=owl-]:hover {
    background: transparent!important;
    opacity:.9!important;
    text-decoration: none!important;
}
.customize-gallary .owl-nav button:first-child{
    left: 0!important;
    
}
.customize-gallary .owl-nav button:last-child{
    right: 0!important;
}
.customize-gallary .owl-dots .owl-dot {
    outline: none!important;
}
.customize-gallary .owl-dots .owl-dot span {
    width: 14px!important;
    height: 14px!important;
    background: none!important;
    border: 2px solid #b39c7d!important;
}
.customize-gallary .owl-dots .owl-dot:hover span{
    background-color: #b39c7d!important;
}
.customize-gallary .owl-dots .owl-dot.active span {
    background-color: #b39c7d!important;
} 
/* end customize shape details */  