.mask-item {
    -webkit-mask-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Ski_trail_rating_symbol_black_circle.png);
    mask-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a8/Ski_trail_rating_symbol_black_circle.png);
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-position: center center;
    -webkit-mask-position: center center;
    width: 50%;
    height: 50%;
    margin-left: 23px;
}

.mask-container {
    -webkit-filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.75))drop-shadow(-4px -6px 5px #ffffff8f);
    -moz-filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.75))drop-shadow(-4px -6px 5px #ffffff8f);
    -ms-filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.75))drop-shadow(-4px -6px 5px #ffffff8f);
    -o-filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.75))drop-shadow(-4px -6px 5px #ffffff8f);
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.75))drop-shadow(-4px -6px 5px #ffffff8f);
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}