/*==========================
      Project Base
==========================*/
$brown: #32231F;
$lbrown: #BD9371;
$dbrown: #1A1526;
$purple: #50456D;
$blue: #21215f;
$lblue: #9fddea;
$white: #ffffff;
$black: #000000;
$gbrown: #4a4a4a;
$width: 100%;
$lgrey: #555555;


/*==========================
      Universal CSS
==========================*/
