/* Start main Transtion */

.transtion, 
.transtion:hover, 
.transtion:focus{
    transition              : all .2s .1s ease-in-out;
    -webkit-transition      : all .2s .1s ease-in-out;
    -moz-transition         : all .2s .1s ease-in-out;
    -ms-transition          : all .2s .1s ease-in-out;
    -o-transition           : all .2s .1s ease-in-out;
}

/* End main Transtioon */

/* Start Product Slider */

div.product-img-slider{
    background              : rgba(0, 0, 0, 0); 
    padding-top             : 5px;
    display: inline-flex;
}
.drift-demo-trigger{
    cursor                  : zoom-in;
}
div.product-img-slider img {
    width                   : 100px;
    height                  : 100px;
    margin                  : 3px 0px;
    cursor                  : pointer;
    border                  : 4px solid white;
}
.active-product-img{
    border                  : 4px solid #BD9371!important;
}

/* End Product Slider */

/* Start Product Detalis */

/*.product-name{
    color                   :#bd9371
}
.product-description{
    font-size               : 1.6rem ;   
}
span.favorite{
    position                : absolute;
    top                     : 14px;
    right                   : 22px;
    font-size               : 3rem;
    cursor                  : pointer;
    color                   : #ea7284;
}
span.favorite:hover{
    transform               : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -ms-transform           : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
}
span.rate-icons{
    color                   : #ffc700;
    font-size               : 1.3rem;
    z-index                 : 0 ;
}
span.rate-text{
    opacity                 : .5;
}
span.stock{
    font-size               : 1.6rem;
}
span.stock-normal{
    color                   : #00ae42;
}
span.stock-danger{
    color                   : #dc3545!important;
}
div.specifications .title {
    margin-bottom           : 4rem;
    width                   : auto;
    display                 : block;
}
div.specifications .title, 
span.price-group, 
div.product-weight .title{
    color                   : #bd9371;
    font-weight             : bold;
    font-size               : 1.9rem ;
}
div.specifications .details{
    border-top              : 1px solid #804b21;
    border-bottom           : 1px solid #804b21;
    padding                 : 1rem 0rem;
    margin                  : .9rem 0rem 1rem 0rem;
    font-size               : 1.6rem ;
    margin-top              : -19px;
}
.nutration-facts{
    float                   : right;
    margin-bottom           : 3rem;
}
button.nutration-facts-btn {
    border-radius           : 2rem;
    -webkit-border-radius   : 2rem;
    -moz-border-radius      : 2rem;
    -ms-border-radius       : 2rem;
    -o-border-radius        : 2rem;
    margin-top: -1rem;
}
button.check-availability-btn {
    padding                 : 1.5rem .8rem;
    height                  : 54px;
    border-radius           : 5rem;
    font-size               : 1.5rem;
}
button.nutration-facts-btn , 
button.check-availability-btn{
    background-color        : #f4ebd3 !important;
    color                   : #BD9371;
    border                  : none;
    padding                 : .8rem;
}
button.check-availability-btn{
    font-weight             : bold;
    padding                 : 1.5rem .8rem;
    height                  : 54px;
    border-radius           : 5rem;
    font-size               : 1.5rem;
}
button.add-to-basket-btn{
    background-color        : #50456D !important;
    color                   : white;
    border                  : none;
    padding                 : 1.5rem;
    font-size               : 1.6rem;
    font-weight             : bold;
}
button.nutration-facts-btn:focus, 
button.check-availability-btn:focus, 
button.add-to-basket-btn:focus{
    outline                 : none;
    opacity                 : .9;
}
button.nutration-facts-btn:hover, 
button.check-availability-btn:hover, 
button.add-to-basket-btn:hover{
    opacity                 : .9;
}
span.currency{
    font-size               : 16px;
}
span.price{
    font-size               : 25px;
}
span.currency, span.price{
    color                   : #9c5114;
    font-weight             : 700;
}
.product-weight::after {
    content                 : "";
    border-left             : 10px solid transparent;
    border-right            : 10px solid transparent;
    border-top              : 11px solid #c19371;
    position                : absolute;
    width                   : 10px;
    height                  : 10px;
    bottom                  : 19px;
    right                   : 26px;
    display                 : block;
    
}
.product-weight:before {
    content                 : "";
    position                : absolute;
    width                   : 12px;
    height                  : 16px;
    bottom                  : 19px;
    right                   : 24px;
    background-color        : #f4ebd3;
}
div.product-weight select.type{
    background-color        : #f4ebd3!important;
    outline                 : none;
    box-shadow              : none;
    border                  : none;
    cursor                  : pointer;
    width                   : auto;
    padding                 : 3px 8px 3px 15px;
    height                  : 54px;
    border-radius           : 5rem;
}
div.product-weight select.type:focus{
    border                  : none;
    outline                 : none;
    box-shadow              : none;

}
.quantity-count{
    margin-top              : -.5rem;
}
.div.product-weight  select.type{
    width                   : 25%!important
}
.quantity-count button {
    background-color        : #f4ebd3;
    width                   : 58px;
    height                  : 58px;
    color                   : #62587c;
    border                  : none;
    outline                 : none;
    font-weight             : bold;
    padding                 : .1rem;
    font-size               : 1.6rem;
    border-radius           : 15rem;
}
.quantity-count button:focus{
    outline                 : none;
    opacity                 : .9;
}
.quantity-count button:hover{
    opacity                 : .9;
}
.quantity-count input{
    color                   : #66321f!important;
    width                   : 8rem!important;
    height                  : 46px;
    border                  : none!important;
    border-radius           : 0;
    -webkit-border-radius   : 0;
    -moz-border-radius      : 0;
    -ms-border-radius       : 0;
    -o-border-radius        : 0;
    text-align              : center;
    font-size               : 2.3rem;
    font-weight             : bold;
    padding                 : 0 ;
    background-color        : transparent;
    
}
.quantity-count input:focus{
    background-color        : #fff!important;
    border                  : none;
    box-shadow              : none;
}*/

/* End Product Slider */

/* Start Buy Methods, Order and Delivery */

/*button.buy-now-btn{
    background-color        : #50456D;
    width                   : 3rem;
    color                   : white;
    border                  : none;
    outline                 : none;
    font-weight             : bold;
    padding                 : 1.5rem;
    font-size               : 1.6rem;
}
button.buy-now-btn:focus{
    outline                 : none;
}
button.buy-now-btn:hover{
    opacity                 : .9;
}
div.buy-methods .method_option{
    height                  : 7rem;
    width                   : 7.5rem;
    display                 : flex;
    align-items             : center;
    margin                  : auto;
    margin-bottom           :.7rem;
}
div.buy-methods .method_option img{
    cursor                  : pointer;
    width                   : 100%;
    max-height              : 100%;
            
}
div.buy-methods img:hover{
    box-shadow              :none!important;
}
div.order-list span.order-title{
    color                   : #bd9371;
    font-weight             : 800;
    display                 : block;
}
div.order-list p.order-content {
    padding                 : .5rem 0;
    line-height             : 1.3!important;
    
    
}
span.order-icon{
    color                   : #804b21;
    font-size               : 1.8rem;
    margin-right            : 3px;
    margin-left             : 11px;
}
div.order-list p.order-offer{
    margin                  : .2rem 0rem 1rem 1rem;
}
div.share-on-social a{
    font-size               : 13px;
    background-color        : #f4ebd3;
    padding                 : 11px 11px;
    border-radius           : 5rem!important;;
    -webkit-border-radius   : 5rem!important;;
    -moz-border-radius      : 5rem!important;;
    -ms-border-radius       : 5rem!important;;
    -o-border-radius        : 5rem!important;;
    text-decoration         : none;
    display                 : inline-block;
    text-align              : center;
    font-size               : 2rem;
}
div.share-on-social a.facebook{
    color                   : #4762b7;
}
div.share-on-social a.twitter{
    color                   : #55acee;
}
div.share-on-social a.whatsapp{
    color                   : green;
}
div.share-on-social a.facebook:hover , div.share-on-social a.twitter:hover{
    opacity                 : .9;
}*/

/* End Buy Methods, Order and Delivery */

/* Start Responsive */

@media (min-width: 1500px){ 
    section.product-details { 
        padding-right:10rem!important; 
        padding-left: 10rem!important; 
        }
} 
@media (min-width:997px) and (max-width:1399){ 
    section.product-details { 
        padding-right :5rem!important; 
        padding-left : 5rem!important; 
    } 
} 
/*@media (min-width:576px) and (max-width: 997px){ 
    .quantity-count button { 
        width:31.3333%!important; \
    } 
    .quantity-count input{ 
        width:31.3333%!important; 
    } 
} 
@media (max-width: 576px){ 
    div.quantity-count{ 
        float: right!important; 
    }
} 
@media (min-width: 320px) and (max-width: 576px){ 
    div.quantity-count{ 
        width : 100%!important; 
        margin-top : 1rem!important;
        margin-bottom : 1rem!important;
    }
    .quantity-count button { 
        width: 31.3333%!important; 
    }
    .quantity-count input { 
        width: 34.3333%!important; 
        }
    } 
@media (max-width: 320px){ 
    span.favorite { 
        right : 9px!important; 
    }
    .nutration-facts{ 
        float: left!important; 
        margin: .4rem 0!important; 
    }
    div.quantity-count{ 
        width : 100%!important; 
        margin-top : 1rem!important; 
        margin-bottom : 1rem!important; 
    }
    .quantity-count button { 
        width : 31.3333%!important; 
    }
    .quantity-count input{ 
        width : 31.3333%!important; 
        } 
    }*/
/* End Responsive */